/* ---------------------------------------- */
/* ==            SOMMAIRE              */
/*---------------------------------------- */

/* L32		- FONT - */
/* L38		- RÉGLAGES MOBILES - */
/* L71		- HEADER - */
/* L125     - SEARCH - */
/* L174     - FILTERS - */
/* L230     - HOSTELS - */
/* L267     - POPULAR - */
/* L308     - ACTIVITIES - */
/* L322     - BOXES - */
/* L375     - FOOTER - */
/* L404     - OPTIMISATION TABLETTES - */

/*      WORK IN PROGRESS        */



/* ---------------------------------------- */
/* ==       CODES COULEURS           */
/*---------------------------------------- */
/*
Noir (texte) : #000

Background color: #FFFFFF (White)
Background color: #F2F2F2 (Grey)
Charte : #0065FC (Blue)
Charte version plus claire : #DEEBFF (Light Blue)*/

/*------------------------------------------*/
/* ==            FONT         */
/*------------------------------------------*/
/*
Whole site : Raleway*/

/*------------------------------------------*/
/*==		RÉGLAGES MOBILES*/
/*                                      */
/*          iPhone 6/7/8 = 375px        */
/*          iPhone 6/7/8 Plus = 414px   */
/*                                      */
/*          MAX-WIDTH : 414px           */
/*------------------------------------------*/
body{
    margin: 0;

}

main{
    font-family: "Raleway", arial, sans-serif;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: black;
}

strong{
    font-size: 1em;
}

h1, h2{
    font-size: 1.5em;
}

/*---------------------------------------*/
/*==        HEADER      */
/*---------------------------------------*/

.head{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 0.8fr);
}

.img_reservia{
    grid-column: 1 / 1;
    margin: 10%;
    width: 50%;
}

.nav1{
    text-align: center;
    padding-top: 1em;
    grid-row: 2 / 2;
    grid-column: 1 / 1;
    border-bottom: 5px solid #F2F2F2;
}

.nav2{
    text-align: center;
    padding-top: 1em;
    grid-row: 2 / 2;
    grid-column: 2 / 2;
    border-bottom: 5px solid #F2F2F2;
}

.nav1:hover, .nav2:hover{
    color: #0065FC;
    border-bottom: 5px solid #0065FC;
}

.suscribe{
    color: #0065FC;
    font-weight: bold;
    padding-right: 2em ;
    padding-top: 2em;
    text-align: right;
    grid-row: 1 / 1;
    grid-column: 2 / 2;
}

.title{
    padding: 1em;

}

/*--------------------------------------------------------*/
/*==        SEARCH      */
/*--------------------------------------------------------*/

form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin: 1em;
}

.fas.fa-map-marker-alt{
    border: solid 0px transparent;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    padding: 1.17em;
}

.search{
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: transparent;
    border-right: transparent;
    padding: 1em;
    font-size: 1em;
    font-family: Raleway, sans-serif;
    font-weight: bold;
}

.submit{
    position: absolute;
    right: 100px;
    border: 1px solid transparent;
    border-radius: 18px;
    color: white;
    padding: 1.3em;
    background-color:  #0065FC;
}

/*-----------------------------------------*/
/*==        FILTERS     */
/*-----------------------------------------*/


.fas.fa-money-bill-wave, .fas.fa-child, .fas.fa-heart, .fas.fa-dog{
    color: #0065FC;
}

#filtres{
    margin: 1em;
}

.btn_filtre{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    border: 3px solid #F2F2F2;
    border-left: none;
    border-radius: 100px;
    width: fit-content;

    transition-duration: 1s;
}

.btn_filtre:hover{
    background-color:#DEEBFF;
}

.icon{
    border: 0px solid transparent;
    border-radius: 100%;
    padding: 1.5em;
    width: 1em;
    margin: -1px;
    display: flex;
    justify-content: center;
    background-color: #DEEBFF;
}

em{
    font-size: 1.5em;
    font-style: normal;
    font-weight: bold;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.filter_subtitle{
    display: flex;
    align-items: center;
    margin: 1em;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 100px;
    color: #0065FC;
    width: 10px;
    height: 10px;
    margin-right: 1em;
    padding: 0.7em;
}

/*----------------------------------*/
/*==        HOSTELS     */
/*----------------------------------*/

#section1{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

#hostel, #activity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hostel_name{
    font-size: 1.4em;
    padding-left: 0.7em;
}

.hostel_star{
    padding-left: 0.9em;
    padding-bottom: 1em;
}

.fas.fa-star{
    color: #0065FC;
}

.fas.fa-star.g{
    color:#F2F2F2;
}

.more{
    margin: 1em;
    font-weight: bold;
}

/*----------------------------------*/
/*==        POPULAR     */
/*----------------------------------*/

aside{
    background-color: #F2F2F2;
}

.popular{
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

.fas.fa-chart-line{
    display: flex;
    align-items: center;
}

#populaires{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.hostel_name_pop{
    font-size: 1.4em;
    margin: 0;
}

.pop_hostel_star_s, .pop_hostel_star_l{
    padding-top: 4em;
}

/*------------------------------------*/
/*==        ACTIVITIES      */
/*------------------------------------*/

.activity_name{
    font-size: 1.4em;
    padding-left: 1em;
}

#ancre_hostel, #ancre_act{
    margin: 0.5em;
    padding-top: 5%;
}

/*-----------------------------------*/
/*==        BOXES       */
/*-----------------------------------*/

.box, .boxpop{
    margin-bottom: 2em;
    width: 90%;
    padding: 1%;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    box-shadow: 0 0 5px 5px #F2F2F2;
    background-color: #FFFFFF;
}
.boxact{
    margin-top: 4%;
    padding: 0%;
    width: 90%;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0 0 5px 5px #F2F2F2;
}

.img{
    border: 0px solid transparent;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    width: 100%;
    height: 150px;
}

.imgpop{
    
    border: 0px solid transparent;
    border-radius: 15px 0 0 15px;
    float: left;
    padding-right: 0.5em;
    object-fit: cover;
    width: 35%;
    height: 200px;
}

.imgact{
    border: 0px solid transparent;
    border-radius: 15px 15px 0 0 ;
    object-fit: cover;
    width: 100%;
    height: 150px;
}

.box:hover, .boxpop:hover, .boxact:hover{
    width: 92%;
}

/*-----------------------------------*/
/*==        FOOTER      */
/*-----------------------------------*/

footer{
    padding-top: 1em;
    padding-bottom: 4em;
    background-color: #F2F2F2;
    margin-top: 2em;
}

.footer{
    padding-left: 2em;
    display: flex;
    flex-direction: column;
}

.foot{
    padding-top: 1em;
}

.foot:hover{
    text-decoration: underline;
}

/*---------------------------------------------*/
/*==		OPTIMISATION POUR TABLETTES 	*/
/*          MIN-WIDTH : 760px       */ 
/*--------------------------------------------*/


@media only screen and (min-width:760px){

    main{
        font-size: 16px;
        width: 100%;
    }

    em, strong{
        font-size: 1.4em;
    }

/*------------------------------------*/
/*==        HEADER      */
/*------------------------------------*/

    .head{
        grid-template-columns: 50% 1fr 1fr 1fr;
        grid-template-rows: 1fr
    }

    .img_reservia{
        width: 7em;
    }

    .suscribe{
        padding-top: 3.3em;
        grid-column: 4 / 4;
    }    
    
    .nav1{
        grid-column: 2 /2;
    }

    .nav2{
        grid-column: 3 / 3;   
    }

    .nav1, .nav2{
        text-align: center;
        padding-top: 3em;
        grid-row: 1 / 1; 
        border-bottom: transparent;
        border-top: 5px solid #F2F2F2;
    }

    .nav1:hover, .nav2:hover{
        border-top: 5px solid #0065FC;
        border-bottom: transparent;
    }

/*-------------------------------------*/
/*==        SEARCH      */
/*-------------------------------------*/

    form{
        padding-bottom: 2em;
    }
/*-------------------------------------*/
/*==        FILTERS     */
/*-------------------------------------*/

    #filtres, footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .btn_filtre{
        margin: 0.5em;
    }

/*-------------------------------------*/
/*==        HOSTELS     */
/*-------------------------------------*/

    .hostel_name, .hostel_name_pop{
        font-size: 1em;
} 

/*-------------------------------------*/
/*==        POPULAR     */
/*-------------------------------------*/

    aside{
        padding-bottom: 1em;
    }

    .pop_hostel_star_s{
        padding-top: 2em;
    }

    .pop_hostel_star_l{
        padding-top: 0.5em;
    }

/*-------------------------------------*/
/*==        ACTIVITIES      */
/*-------------------------------------*/

    .activity_name{
        font-size: 0.9em;
    }

/*-----------------------------------*/
/*==        BOXES       */
/*-----------------------------------*/

    #hostel, #populaires, #activity{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .img, .imgpop{
        height: 150px;
    }

    .box, .boxpop, .boxact{
        margin: 1em;
        width: 40%;
    }

    .box:hover, .boxpop:hover, .boxact:hover{
        width: 42%;
    }

/*-----------------------------------*/
/*==        FOOTER      */
/*-----------------------------------*/
    
    footer{
        justify-content: space-around;
    }

    .footer{
        padding: 0;
    }

}

/*---------------------------------------------*/
/*==		OPTIMISATION DESKTOP   	*/
/*          MIN-WIDTH : 1024px       */ 
/*--------------------------------------------*/

@media only screen and (min-width:1024px){

    main{
        font-size: 12px;
    }

    strong{
        font-size: 1em;
    }

    h1, h2{
        margin: 1em;
    }

/*------------------------------------*/
/*==        HEADER      */
/*------------------------------------*/

    .img_reservia{
        width: 6em;
        margin: 2em;
    }

    .suscribe{
        padding-right: 4em;
    }


/*-------------------------------------*/
/*==        SEARCH      */
/*-------------------------------------*/

    .submit{
        padding: 1em;
    }

/*-------------------------------------*/
/*==        FILTERS     */
/*-------------------------------------*/

    .icon{
        padding: 1em ;
    }

    .info{
        margin: 1.5em;
    }
    
/*-------------------------------------*/
/*==        HOSTELS     */
/*-------------------------------------*/

    #section1{
        display: flex;
        justify-content: center;
    }

    article{
        background-color: #F2F2F2;
        border: 0px solid transparent;
        border-radius: 15px;
    }

    #ancre_hostel{
        padding: 1em;
        margin-bottom: 0;
        margin-left: 1em;
    }

/*-------------------------------------*/
/*==        POPULAR     */
/*-------------------------------------*/

    aside{
        margin: auto;
        border-radius: 15px;
    }

    #populaires{
            flex-direction: column;
    }

/*-------------------------------------*/
/*==        ACTIVITIES      */
/*-------------------------------------*/

  

/*-----------------------------------*/
/*==        BOXES       */
/*-----------------------------------*/

    .box{
        width: 25%;
    }

    .boxpop{
        width: 80%;
    }

    .box:hover{
        width: 27%;
    }
    
    .boxpop:hover {
        width: 82%;
    }
    
    .img{
        height: 70px;
    }

    .imgpop{
        height: 100px;
    }

/*-----------------------------------*/
/*==        FOOTER      */
/*-----------------------------------*/

}
